{% if category is defined %}
    {% set courses = courses.findNextCourse({'category_id': category.id}) %}
{% else %}
    {% set courses = courses.findNextCourse() %}
{% endif %}
{% if courses|length > 0 %}
    <div class="panel-box">
        <div class="titles">
            <h4>Prochaine courses {% if category is defined %}{{ category.title }}{% endif %}</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dl class="liste-next-course">
                    {% for course in courses %}
                        <dt>{% if course.link != '' %}<a target="_blank" href="{{ course.link }}">{% endif %}{{ course.title|e }}{% if course.link is defined %}</a>{% endif %}
                        <span class="tag-course">{% for category in course.categories %}
                            <span class="label label-default">{{ category.category.abrev }}</span>
                        {% endfor %}</span>
                    </dt>
                    <dd>{{ course.startAt|date("d/m/Y H:i") }} - {{ course.endAt|date("d/m/Y H:i") }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
{% endif %}