{% extends 'admin_layout.html.twig' %}
{% set active = 'form' %}

{% block titre_page %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  <div id="main" role="main" class="container">
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ title }}</h1>
    <div class="alert alert-warning" role="alert">Une date est nécessaire pour la migration de l'album '{{ oldAlbum['nom'] }}'.</div>
    <form action="" method="get" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_row(form.created) }}
        {{ form_rest(form) }}
    </form>
    
{% endblock %}