{% extends 'layout.html.twig' %}

{% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ infosites('nom_site')|trans  }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{{ infosites('description_site')|trans  }}{% endblock %}" />
    <meta name="keywords" content="{{ infosites('mot_cle_site')|trans  }}" />
    <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basepath }}/css/fancybox/jquery.fancybox.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basepath }}/css/carousel.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome.min.css">
{% endblock %}

{% block menu %}
    <nav class="mainmenu">
        <div class="container">
            <!-- Menu-->
            <ul id="menu" class="sf-menu ">                
                {% for page in orderpage %}
                    {% set underPages = underpages(page) %}
                    <li class="current">
                        <a href="{{ page['link'] }}">{{ page['name'] }}</a>
                        {% if underPages|length > 0 %}
                        <ul class="sub-current">           
                            {% for underPage in underPages %}
                            <li>
                                <a href="{{ underPage.link }}">{{ underPage.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block titre_page %}
    <h1>Single News</h1>
{% endblock %}

{% block crumbs %}
    <div class="crumbs">
        <div class="container">
            <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li>/</li>
                    {% block suite_crumbs %}
                    <li><a href="#">News</a></li>
                    <li>/</li>
                    <li>Single News</li>
                    {% endblock %}                                       
            </ul>
        </div>        
    </div>
{% endblock %}

{% block layout_content %}
    <div class="col-md-8">
        {% block content %}
        {% endblock %}
    </div>
    <aside class="col-md-4">
        <!--<div>
            <h4>Searh Sidebar</h4>
            <form method="Post" action="#" class="search">
                <div class="input-group">
                    <input type="email" required="required" name="email" placeholder="Search..." class="form-control">
                    <span class="input-group-btn">
                        <button name="subscribe" type="submit" class="btn btn-primary">Go!</button>
                    </span>
                </div>
            </form>   
        </div>-->
        
        {% if category is defined %}
            {% set param = category.id %}
        {% else %}
            {% set param = '' %}
        {% endif %}
        
        {% for orderwidget in orderwidgets(param) %}
            {% if orderwidget.locked == true %}
            {{ include('part/widget_' ~ orderwidget.id ~ '.html.twig') }}
            {% else %}
            {{ include('part/widget_default.html.twig') }}
            {% endif %}
        {% endfor %}
    </aside>
{% endblock %}

{% block javscript %}
    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/hoverIntent.js"></script>
    <script src="{{ app.request.basepath }}/js/superfish.js"></script>
    <script src="{{ app.request.basepath }}/js/tinynav.min.js"></script>
    <script src="{{ app.request.basepath }}/js/carousel.js"></script>
    {% block extrascript %}
    {% endblock %}
    <script src="{{ app.request.basepath }}/js/main.js"></script>
    {{ infosites('tracking_site') }}
    {{ infosites('tracking_partage') }}
{% endblock %}